In [227]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [132]:
train_data = pd.read_csv (r'train.csv');
test_data = pd.read_csv (r'test.csv');
sample_data = pd.read_csv (r'sample.csv');

In [133]:
td_x=train_data.iloc[:,2:]
td_y=train_data.iloc[:,1]
td_y.head(10)

0    738.023171
1    400.646015
2    189.900156
3    -78.399449
4   -547.373531
5   -242.792588
6   -581.856635
7   -122.485412
8    303.179061
9    539.239367
Name: y, dtype: float64

In [228]:
reg = linear_model.LinearRegression()

In [229]:
model_fit=LinearRegression().fit(td_x, td_y)
model_fit.score(td_x, td_y)
w_pred=model_fit.coef_

In [230]:
w_pred.shape[0]

10

In [231]:
td_y_pred = td_x @ w_pred
td_y_pred.head(10)

0    738.023171
1    400.646015
2    189.900156
3    -78.399449
4   -547.373531
5   -242.792588
6   -581.856635
7   -122.485412
8    303.179061
9    539.239367
dtype: float64

In [232]:

hits = (td_y==td_y_pred)
np.count_nonzero(hits)

134

In [221]:


RMSE = mean_squared_error(td_y, td_y_pred)**0.5
RMSE

1.0491761643512892e-12

In [239]:
test_values = test_data.iloc[:,1:]
test_values.shape

(2000, 10)

In [307]:


#use model on test data
test_pred = test_values @ w_pred
test_pred.size

2000

In [308]:
n=test_pred.size

solution = np.zeros((n,2))

for i in range(test_pred.size):
      solution[i,1] = test_pred[i]
      solution[i,0]= (i+1000)
solution

array([[1000.        ,  -66.00242349],
       [1001.        ,  451.4065044 ],
       [1002.        , -461.67641706],
       ...,
       [2997.        ,  -35.13540942],
       [2998.        , -131.67918453],
       [2999.        ,  417.26915462]])

In [348]:


indexing = np.arange(10000,10000+n,1)
data = np.transpose([indexing, test_pred])

In [349]:
df = pd.DataFrame(data=data)

In [350]:
df

            0           1
0     10000.0  -66.002423
1     10001.0  451.406504
2     10002.0 -461.676417
3     10003.0   40.501209
4     10004.0 -126.744722
...       ...         ...
1995  11995.0  464.715255
1996  11996.0  496.485334
1997  11997.0  -35.135409
1998  11998.0 -131.679185
1999  11999.0  417.269155

[2000 rows x 2 columns]

In [353]:
df.to_csv('solution_pandas.csv',index=False, header = ["Id","y"])

In [354]:
df.to_csv('submission.csv',index=False, header = ["Id","y"])

<bound method NDFrame.last of          Id           x1           x2           x3           x4           x5  \
0     10000  -483.797492  1288.057065  -129.878712  -198.078388  -334.487592
1     10001  -316.407305    30.830556  -313.356726  -173.259184  -327.368719
2     10002 -2448.558997  -561.988408   355.098820   634.378170  -392.450091
3     10003  -942.120025   945.373015   140.910705  1753.565841  -347.223685
4     10004  1752.366157  -597.550816  -466.491398 -1094.792276  -645.424882
...     ...          ...          ...          ...          ...          ...
1995  11995   -70.207810   328.849423  1006.084617   440.948562  -692.274282
1996  11996 -1692.417164   968.971133  1371.423442  -144.224724   503.164492
1997  11997   199.864648   261.345779  -127.986805  -298.503216  -364.240174
1998  11998  -151.673157 -1425.199620  1070.922114   938.800763  1373.176372
1999  11999   -97.089983   780.444250   221.081520    72.748763 -1484.861623

               x6           x7           x8           x9          x10
0     -391.443186  -612.406176  -676.523964  1327.229655  -448.695446
1      944.368248  1122.017380   112.338731  1372.340221  2062.561842
2     -813.156399  -232.873263   246.801210  -562.413197  -841.602015
3    -1489.493408  -508.035412  1992.650031   555.461973 -1696.076948
4     -202.154830   205.073469  -270.385827  -310.299496   362.212675
...           ...          ...          ...          ...          ...
1995   237.091043  -565.192046  1893.955311  1277.944394   789.953338
1996  -228.219798   153.761541  1872.043587  2153.553632     6.797203
1997 -1370.134911   769.662730  -517.182892    79.694141  1016.126607
1998  -583.905998  -292.269529 -1206.766021 -1047.464871     7.588102
1999   462.159812  1549.025158  2531.705492   -35.722034   173.200191

[2000 rows x 11 columns]>

In [372]:
#this was made with gpt, way slicker

# create a numpy array of 2000 float values
arr = np.array(test_pred)

# create a pandas DataFrame with index starting from 10000 and column name "y"
df = pd.DataFrame(arr, index=np.arange(10000, 12000), columns=["y"])

# add a column "Id" with values equal to the index
df.insert(0, "Id", df.index)

# save DataFrame to a CSV file
df.to_csv("output.csv", index=False)

AttributeError: 'numpy.ndarray' object has no attribute 'type'

AttributeError: 'Series' object has no attribute 'type'

pandas.core.series.Series